<a href="https://colab.research.google.com/github/GyokuroKunso/Estudos-Programacao/blob/main/Programa%C3%A7%C3%A3o_de_%22def%22_%2C_%22recur%22_%2C_%22return%22_e_%22lambda%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Função(def):***

In [ ]:
#Progama de Definir algo:
def my_first_function():
  print('Minha primeira função')

In [ ]:
my_first_function()

Minha primeira função

In [ ]:
#EXEMPLO 1
def melhorProtagonista(protagonista):
  print(protagonista + " é bem superior a Farya")

In [ ]:
melhorProtagonista('Sonic')

Sonic é bem superior a Farya

In [ ]:
def sigmaThebest(sigma, nome):
  print(sigma, "é um vião de" ,nome)

In [ ]:
sigmaThebest('Doctor Sigma', 'Megamen X')

Doctor Sigma é um vião de Megamen X

In [ ]:
def nomeAnoquevcnasceu(nome, mes, ano):
  for idadecompleta in (mes, ano):
   idadecompleta = (2023 - ano) - (mes - 5) 
   print(nome, idadecompleta,'anos')

In [ ]:
nomeAnoquevcnasceu('Henrique', 6, 2004)

Henrique 18 anos
Henrique 18 anos

**Retorno**(**return**)

In [6]:
#O programa pode ser usado para definir determinados algaritimos também
def mediaTotal(*notas):
  soma = 0
  for nota in notas:
    soma += nota
    media = soma/len(notas)
    print('A média é:', media)

In [7]:
mediaTotal(8,9,10,5,6,4)

A média é: 1.3333333333333333
A média é: 2.8333333333333335
A média é: 4.5
A média é: 5.333333333333333
A média é: 6.333333333333333
A média é: 7.0

In [ ]:
#EXEMPLO 2
def nacionalidade(country):
 print('Moro no '+ country)
  
nacionalidade('Brasil')

Moro no Brasil

In [ ]:
#Programa de para definir um determindado tipo de retorno exemplo usados: contas (IMC)
def imc(peso,altura):
  return peso/altura**2

In [ ]:
def situacaodoPeso(imc):
  if(imc<18.5):
    print('Abaixo do peso normal ( Magrinho')
  elif(imc<24.9):
    print('Peso normal (Tem sorte)')
  elif(imc<29.9):
    print('Exceso de peso(OPA!!!)')
  elif(imc<34.9):
    print('Obesidade tipo I(MDS!!!)')
  elif(imc<39.9):
    print('Obesidade tip II(BIG MC DE MAIS EM!!!)')
  else:
    print('Obesidade tipo III (BIG FAT!!!)')

In [ ]:
situacaodoPeso(imc(87, 1.70))

Obesidade tipo I(MDS!!!)

In [94]:
 j = float(input('Coloque o valor do juros: '))
 c = float(input('Coloque o valor de capital inicial: '))
 i = float(input('Coloque o valor da taxa de juros: '))
 t = float(input('Coloque o valor do tempo de aplicação: '))

 resultado = ((j + c) - (i % t))
 print(resultado)

Coloque o valor do juros: 50
Coloque o valor de capital inicial: 39
Coloque o valor da taxa de juros: 109
Coloque o valor do tempo de aplicação: '

ValueError: ignored

In [95]:
 def jurosSimples(juros,capital,taxa_de_juro,tempo):
  return (j(c * i * t))
  resul == 0
  for resultado2 in (j,c,t,i):
     resul += resultado2
     resultad = resultado2/len(j,c,i,t)

In [11]:
 def juros(j):
   return (jurosSimples(juros,capital,taxa_de_juro,tempo))

In [12]:
 def capital(c):
  return (jurosSimples(juros,capital,taxa_de_juro,tempo))

In [77]:
 def taxa_de_juro(i):
  return (jurosSimples(juros,capital,taxa_de_juro,tempo))

In [23]:
 def tempo(t):
  return (jurosSimples(juros,capital,taxa_de_juro,tempo))

In [113]:
pergunta_j = float(input('Coloque o valor de juros: '))
for juros(j):

pergunta_c = int(input('Coloque o valor da capital: '))
for capital(c):

pergunta_i = int(input('Coloque o valor de taxa de juros: '))
for taxa_de_juro(i):

pergunta_t = int(input('Coloque o valor de tempo: '))
for tempo(t):


print(resultad)

SyntaxError: ignored

In [76]:
j1 =float(input('Coloque o valor do juros:'))
 conta= 0
 for j in (juros(juros)): 
c1 =float(input('Coloque o valor de capital inicial:'))
  for c in (jurosSimples(capital)):
 
  i1 =float(input('Coloque o valor da taxa de juros:'))
  for i in (jurosSimples(taxa_de_juro)):
 
  t1 =float(input('Coloque o valor do tempo de aplicação:'))
  for t in (jurosSimples(tempo)):

IndentationError: ignored

def triplo(num):
  return 3*num

In [60]:
  def triploLam (num):
   return 3*num

In [61]:
triploLam = lambda num : num * 3

In [63]:
triploLam(69)

207

*Retorno com Lambda* **(lambda)**

In [ ]:
#Funções lambda são uma ferramenta poderosa na programação Python, que permite a 
#criação de funções anônimas, ou seja, sem necessidade de dar um nome para elas. 
#Elas são úteis quando precisamos de uma função simples, que será utilizada apenas uma vez e não precisa ser reutilizada em outro lugar do código

notas = [6,7,7.7,8,9,10]

In [ ]:
def aprovados(nota):
  return nota >= 7

listaAprovados = list(filter(aprovados,notas))

listaAprovados

[7, 7.7, 8, 9, 10]

In [ ]:
listaAprovados2 = list(filter(lambda nota : nota >= 7,notas))

listaAprovados2

[7, 7.7, 8, 9, 10]