<a href="https://colab.research.google.com/github/GyokuroKunso/Estudos-Programacao/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tp_frutas = ('manga','jabuticaba','abacate','pamonha')
tp_frutas.append('maçã')

#As tuplas não possuem um código de ".append "

print(tp_frutas)

AttributeError: ignored

As tuplas são dados que incluem números que são colocadas parra sem

In [3]:
#Código de criação listas atravês de uma tuplas a partir de


lst_frutas = list(tp_frutas);
type(lst_frutas)
lst_frutas

['manga', 'jabuticaba', 'abacate', 'pamonha']

In [5]:
#Fatiamento (Slicing)

tp_meses = ('janeiro','fevereiro','marco','abril','maio','junho','julho','agosto','setembro','outubro','novembro','dezembro');
tp_meses[3:6];

('abril', 'maio', 'junho')

In [ ]:
#Coordenadas Geográficas
coord = ();

In [ ]:
#Código tupla que prevernir a mudança do ano nasncimento já colocado
dta_criacao =( 424, 2, 4);

In [ ]:
uf_cod = [('PE',81), ('RJ', 21), ('SP',11), ('PB')];

sorted(uf_cod = key +lamda x : [1]);

In [9]:
nome_nasc = [('Zé' , 2003), ('Maria',1998), ('Alice',2000)]
sorted(nome_nasc, key = lambda x: x[1], reverse = True) #do mais

[('Zé', 2003), ('Alice', 2000), ('Maria', 1998)]

In [10]:
def nome_idade_uf():
  nome = "Arthur"
  idade = 18
  uf = 'PB'

  return nome, idade,uf

name, age,uf = nome_idade_uf()

print(name, age, uf)

Arthur 18 PB

In [13]:
#Mapeamento de valores

alunos = ('Giba','José','Marcos','Matheus','Tiago')
notas = (8.0, 9.5, 8.5, 8.7, 9.5)

Av1= tuple(zip(alunos,notas))
Av1

(('Giba', 8.0),
 ('José', 9.5),
 ('Marcos', 8.5),
 ('Matheus', 8.7),
 ('Tiago', 9.5))

In [36]:
   def agenda(tp1+tp2+tp3):
   return tp1, + tp2 + tp3

   dia = (12,13,14,15,16)
   mes = ('junho','julho','agosto', 'setembro', 'outubro')
   ano = (2000,2003,2400,2700)
 
   agendinha(dia, mes, ano)

SyntaxError: ignored

In [ ]:
def formatada(tupla):
  nome, logradauro, num, bairro =tupla
  return f'Nome:{nome},residente a {logradouro},{num},{bairro}'

  dadosCliente = ('Manoel','Rua das Couves', 42,'Torre')

  print(formatada(dadosCliente))